.body {
  width: 100%;
  height: 100vh;
}
.app-css,
.app-css1,
.app-css2 {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}
.Main-css {
  background-color: black;
  color: white;
  display: grid;
  width: 50%;
  min-height: max-content;
  /* justify-content: center; */
  padding: 5% 0% 20% 1%;
  background-size: cover;
}
.logo-css {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  padding-bottom: 15%;
  display:flex;
  justify-content: center;
}

.text-main {
  display: grid;
  grid-template-rows: 29%;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  font-weight: 400;
  box-sizing: inherit;
  position: relative;
  text-align: center;
  padding: 16px;
}
#Contact:hover {
  background-color: #795548 !important;
  width: 100%;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 16px;
}
#Home:hover {
  background-color: #607d8b !important;
  width: 100%;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 16px;
}
#MyWork:hover {
  background-color: #009688 !important;
  width: 100%;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 16px;
}
#Resume:hover {
  background-color: #616161 !important;
  width: 100%;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 16px;
}
.profile-css {
  border-radius: 50em;
  width: 50%;
  justify-self: center;
  margin-top: -6em;
}
.MainAbout-css {
  background-color: #607d8b !important;
  width: 50%;
  display: grid;
  background-size: cover;
  min-height: max-content;
}
.About-css {
  color: #ffff;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}
.About-text {
  font-size: 15px;
  font-weight: 450;
  color: white;
  margin-top: -5%;
}
.MainAboutText {
  padding: 0% 10% 0% 10%;
  margin-top: -7%;
}
.MainWork-css {
  background-color: #f1f1f1 !important;
  width: 50%;
  padding: 5% 0% 0% 1%;
  background-size: cover;
}
.WorkImg-css {
  display: flex;
  max-width: 100%;
}
.WorkImg,
.WorkImg3 {
  width: 100%;
}
.MainWork {
  display: grid;
  text-align: center;
  line-height: 0;
}
.MainResume {
  display: grid;
  text-align: center;
  line-height: 0;
  color: white;
}
h4 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 13%;
}
h5 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 1%;
}
h2 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}
.Worktext {
  display: grid;
  text-align: center;
}
.MainResume-css {
  background-color: #3f51b5 !important;
  width: 50.5%;
  padding: 5% 0% 10% 0%;
  background-size: cover;
}
.MainResumeTable {
  padding: 26px;
}
.table1,
.table3,
.table5 {
  background-color: #fff;
}
.table2,
.table4,
.table6 {
  color: #ffff;
}
#MainResume-id td,th {
  line-height: 2;
  padding-left: 20px;
}
.tableheading {
  color: #ffff;
  text-align: left;
}
.MainSwing-css {
  background-color: #616161 !important;
  width: 50.8%;
  color: #ffff;
  display: flow-root;
  text-align: center;
  background-size: cover;
}
.MainSwingText1,
.MainSwingText2 {
  padding: 64px;
}
.MainContact-css {
  background-color: #009688 !important;
  width: 50.5%;
  background-size: cover;
}
.MainContact {
  padding: 16px;
}
.Contact-css {
  padding-right: 32px;
  padding-left: 32px;
}
.Contact-title {
  color: #ffff;
  font-weight: 400;
}
.Contact-description {
  opacity: 0.6;
  color: #ffff;
}
.form-css {
  background-color: #ffff;
  color: black;
  padding-top: 32px;
  padding-bottom: 38px;
  width: 100%;
}
.Name-css,
.Email-css,
.Message-css {
  margin-top: 16px;
  margin-bottom: 16px;
  padding:0 16px;
}
.inp-css {
  padding: 12px;
  display: block;
  border: none;
  border-bottom: 1px gray solid;
  width: 92%;
}
.submit {
  float: right;
  background-color: #009688 !important;
  color: white;
  padding: 10px 30px;
  margin-top: 2%;
  margin-right: 5%;
}
.MainFooter-css {
  background-color: black;
  color: #ffff;
  padding: 1px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 600px) {
  .app-css {
    width: 100%;
    display: flex;
    flex-direction: column !important;
  }
  .app-css1 {
    width: 100%;
    flex-direction: column !important;
    display: flex;
  }
  .app-css2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .Main-css,
  .MainAbout-css,
  .MainWork-css,
  .MainResume-css,
  .MainSwing-css,
  .MainContact-css {
    width: 100%;
  }
  .Main-css,
  .MainWork-css {
    width: 99%;
  }

  .profile-css {
    margin-top: 2%;
  }
  .MainAboutText {
    margin-top: 7%;
  }
  .WorkImg1 {
    width: 100%;
  }
  .WorkImg2 {
    display: none;
  }
  .WorkImg3 {
    display: none;
  }
}
 .MainSwingText2 {
  margin-bottom: 20%;
}
